<section class="ctnResume">
  <h2>SendChangelog - Agence 1400</h2>
  <section>
    <img src="assets/images/form_header.png" alt="logo Agence 1400 agence de communication">
    <p>
    Une de nos problématiques principales étant d'améliorer et de faciliter
    constamment notre relation client, nous mettons à disposition un outil
    permettant d'envoyer un récapitulatif des dernières mises à jour effectuées à nos clients.
    <br>
    Dans celui-ci, vous pouvez mettre en forme un changelog grâce à un éditeur WYSIWYG, puis l'envoyer par mail directement à une liste d'adresse mail selon le client choisi.
  </p>
  </section>

</section>
<app-changelog></app-changelog>
