section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        img {

        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        
        button {
            margin-top: 20px;
        }
    }
}